<style>
  :host {
    --primary-color: #0288d1;
    --paper-progress-active-color: #0288d1;
  }
  h2 {
    background-color: #263238;
    color: white;
    padding: 20px 24px;
    margin: 0 !important;
  }
  small {
    display: block;
    font-weight: normal;
  }
  paper-dialog {
    width: 640px;
    max-width: 100vw;
  }
  li {
    margin: 12px 24px;
  }
  blockquote {
    padding: 5px 12px;
    border-left: 2px solid var(--primary-color);
    margin: 0;
  }
  label {
    display: block;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .check {
    --primary-color: green;
  }
  .clear {
    --primary-color: red;
  }
  .feedback {
    display: flex;
    justify-content: stretch;
    align-items: center;

    padding: 12px;
    margin: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .feedback-body {
    flex-grow: 1;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  paper-progress {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    --paper-progress-indeterminate-cycle-duration: 5s;
  }
</style>

<paper-dialog id="dialog" modal>
  <h2>Submit Feedback <small>by FeedLight</small></h2>
  <paper-progress indeterminate disabled$="[[!loading]]"></paper-progress>

  <div>
    <paper-textarea
        autofocus
        label="What's your feedback?"
        rows="4"
        value="{{feedback}}"
        on-blur="resize">
    </paper-textarea>
    <paper-checkbox checked="{{sharePublicly}}">
      Share publicly so others can collaborate?
    </paper-checkbox>
    <template is="dom-if" if="[[similarFeedback.length]]">
      <h3>We've found similar feedback. Are these about the same issue?</h3>
      <template is="dom-repeat" items="[[similarFeedback]]">
        <div class="feedback">
          <div class="feedback-body">
            [[item.feedback]]
            <template is="dom-if" if="[[item.response]]">
                <label>Company Response</label>
                <blockquote> [[item.response]]</blockquote>
            </template>
          </div>
          <div class="buttons">
            [[similarityScore(item, item.similar, item.score)]]
            <toggle-button class="check" value="{{item.similar}}" on-tap="updateSimilar">
              <iron-icon icon="check"></iron-icon>
            </toggle-button>
            <toggle-button class="clear" value="{{item.dissimilar}}" on-tap="updateDissimilar">
              <iron-icon icon="clear"></iron-icon>
            </toggle-button>
          </div>
        </div>
      </template>
    </template>
    <p hidden$="[[!err]]">[[err]]</p>
  </div>
  <div class="buttons">
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button on-tap="submit">Submit</paper-button>
  </div>
</paper-dialog>
