<style>
  :host {
    --primary-color: #0288d1;
    --paper-progress-active-color: #0288d1;
  }
  h2 {
    background-color: #263238;
    color: white;
    padding: 20px 24px;
    margin: 0 !important;
  }
  small {
    display: block;
    font-weight: normal;
  }
  paper-dialog {
    width: 640px;
    max-width: 100vw;
  }
  li {
    margin: 12px 24px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  paper-progress {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    --paper-progress-indeterminate-cycle-duration: 5s;
  }
</style>

<paper-dialog id="dialog" modal>
  <h2>Submit Feedback <small>by FeedLight</small></h2>
  <paper-progress indeterminate disabled$="[[!loading]]"></paper-progress>

  <div>
    <paper-textarea
        autofocus
        label="What's your feedback?"
        rows="4"
        value="{{feedback}}"
        on-blur="resize">
    </paper-textarea>
    <paper-checkbox checked="{{sharePublicly}}">
      Share publicly so others can collaborate?
    </paper-checkbox>
    <template is="dom-if" if="[[similarFeedback.length]]">
      <h3>We've found similar feedback. Are these about the same issue?</h3>
      <template is="dom-repeat" items="[[similarFeedback]]">
        <feedlight-feedback feedback="[[item]]"
                            on-similar="updateSimilar"
                            on-dissimilar="updateDissimilar">
        </feedlight-feedback>
      </template>
    </template>
    <p hidden$="[[!err]]">[[err]]</p>
  </div>
  <div class="buttons">
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button on-tap="submit">Submit</paper-button>
  </div>
</paper-dialog>

<paper-dialog id="submitted" modal>
  <h2>Thank you!</h2>
  <div>
    <p>Thank you for your feedback! You can follow up and see other feedback
    here:</p>
    <a href="/feedback/[[submitResponse.id]]">
      <paper-button>View Feedback</paper-button>
    </a>
  </div>
  <div class="buttons">
    <paper-button dialog-dismiss>Close</paper-button>
  </div>
</paper-dialog>
